.composition
{
    position: absolute;
    width: 600px;
    height: 400px;
    background-image: url("img/bg.jpg");
}

.comp-item
{
    position: absolute;
}

.comp-item.planet-1
{
    left: 200px;
    top: 25px;
}

.comp-item.planet-2
{
    left: 75px;
    top: 75px;
    z-index: 1;
}

.comp-item.planet-3
{
    left: 170px;
    top: 140px;
    z-index: 3;
}

.comp-item.spaceship
{
    left: 170px;
    top: 160px;
    z-index: 2;
}

.comp-item.ufo
{
    left: 150px;
    top: 300px;
    z-index: 4;
}

.comp-item.asteroid
{
    left: 425px;
    top: 80px;
}

.comp-item.superman
{
    right: 35px;
    bottom: 0px;
}